
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NODEJS TUTORIAL</title>
</head>
<body>
    <h1> NODEJS TUTORIAL</h1>
    <%- include('partials/navbar'); %>
    <h3>HI Shuvomoy</h3>
    <p>Its been a wonderful day</p>
    
</body>
</html>